@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .debug-border {
      @apply border-x-0 border-y-0;
    }
    /* .debug-border {
      @apply border border-sky-950 px-1 border-x-4 border-y-4;
    } */

    .brutalism-mask {
      mask-image: url('../public/brutalism.svg');
      mask-size: 100% 100%;
      mask-repeat: no-repeat;
      mask-position: center;
    }
  }